html, body {
	width: 100%;
	height: 100%;
	background-color: #f1f1f15e;
	font-family: "roboto", "Roboto";
	font-size: 17px;
}
.container {
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-align: center;
}
.container .title {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-align: center;
	width: 100%;
}
.container .content {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-align: center;
	width: 100%;
}
.container .content .register {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-align: center;
	width: 100%;
}
.container .content .register .form {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-items: center;
	width: 100%;	
}
.container .content .register .form div {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 30%;
	text-align: center;
}
.container .content .register .imgs {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-items: center;
	width: 100%;
}
.container .content .register .imgs .item {
	display: flex;
	flex-direction: column;
}
.container .content .register .button {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	margin-top: 10px;
}
.container .content .register .find {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 100%;
	margin-bottom: 15px;
}
.container .content .register .find input {
	width: 30%;
	max-width: 450px;
	min-width: 280px;
}
input {
	width: 80%;
	font-weight: bold;
	margin-top: 5px;
	margin-bottom: 5px;
}
input[type=color] {
	width: 40%;
	min-width: 60px;
	max-width: 250px;
}
label {
	font-weight: bold;
}
.mat-button {
	font-family: "roboto";
	font-size: 16px;
	font-weight: 500;
	letter-spacing: .01em;
	line-height: 32px;
	margin-right: 8px;
	min-width: auto;
	padding: 0 12px;
	text-transform: uppercase;
	box-sizing: border-box;
	position: relative;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	cursor: pointer;
	outline: none;
	border: none;
	-webkit-tap-highlight-color: transparent;
	display: inline-block;
	white-space: nowrap;
	text-decoration: none;
	vertical-align: baseline;
	text-align: center;
	border-radius: 2px;
	overflow: visible;
	background: transparent;
	color: #000;
	background-color: #dadada;
}
.mat-button:hover {
	background-color: #ebebeb;
	text-decoration: none;
	color: #000;
}